{"MessageConn":{"Items":[{"ProjectName":"site_30ec22f0","Name":"192.168.19.102/wisdom_yk_yanshi_nc","ConnectionString":"Data Source=192.168.19.102;Initial Catalog=wisdom_yk_yanshi_nc;User ID=sa;Password=sa","SiteCode":"site_30ec22f0"},{"ProjectName":"site_32475d5d","Name":"192.168.12.46/panda_GIS","ConnectionString":"Data Source=192.168.12.46;Initial Catalog=panda_GIS;User ID=sa;Password=sa","SiteCode":"site_32475d5d"}]}}