{"AliYunMessage":{"SignName":"智慧水务","Appkey":"LTAI4Fvo2mpbbsY3gQzEZk","AppSecret":"fa8kgGctJtP7P3omHUzbA06jKDOv"},"Wechat":{"AppID":"wx0240d0b949279e"},"Mqtt":{"Port":1883,"IP":"192.168.19.103"},"InterfacePort":{"Port":8323,"IP":"127.0.0.1"},"PlatForm":{"CloudPlatform":1,"companyType":"熊猫智慧水务","companyNames":"熊猫智慧水务","mainStationConn":"Data Source=192.168.19.101;Initial Catalog=WisdomWater;User ID=sa;Password=sa"}}